{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>


</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">

    <div id="wrapper">
        <div class="topbar" style="position: absolute; top:0;">
            <!-- 왼쪽 메뉴 -->
            <div class="left side-menu">
                <div class="sidebar-inner">
                    <div id="sidebar-menu">
                        <ul>
                            <li class="has_sub"><a href="javascript:void(0);" class="waves-effect">
                                <i class="fas fa-bars"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 왼쪽 서브 메뉴 -->
            <div class="left_sub_menu">
                <div class="sub_menu">
                    <ul class="big_menu">
                        <li>단과대학별 제휴업체<i class="arrow fas fa-angle-right"></i></li>
                        <ul class="small_menu">
                            <li><a href="{% url 'humanity' %}">인문대학</a></li>
                            <li><a href="page2.html">사회과학대학</a></li>
                            <li><a href="page2.html">자연과학대학</a></li>
                            <li><a href="{% url 'business' %}">경영대학</a></li>
                            <li><a href="page2.html">공과대학</a></li>
                            <li><a href="page2.html">전자정보대학</a></li>
                            <li><a href="page2.html">농업생명환경대학</a></li>
                            <li><a href="page2.html">사범대학</a></li>
                            <li><a href="page2.html">생활과학대학</a></li>
                            <li><a href="page2.html">수의과대학</a></li>
                            <li><a href="page2.html">약학대학</a></li>
                            <li><a href="page2.html">의과대학</a></li>
                            <li><a href="page2.html">융합학과군</a></li>

                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li>총학생회 제휴업체<i class="arrow fas fa-angle-right"></i></li>
                    </ul>
                </div>
            </div>
          
        </div>
    </div>

    <!-- 표 -->
    <link rel="stylesheet" href="{% static 'css/board.css' %}">

    <div class="mainboard">
        <div class="title-box">
          <p class="main-title">경영대학 제휴 목록</p>
          <p class="sub-title">조회 결과</p>
        </div>

          <table class="board_wrap">
            <thead class="board_list">
                <tr align="center">
                    <th width="200">업체명</th>
                    <th width="500">제휴 내용</th>
                    <th width="450">주소</th>
                    <th width="100">좋아요</th>
                    <th width="100">싫어요</th>
                </tr>
            </thead>
            
            <tbody class="board_r">
                {% for partner in partners %}
                <tr>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.content }}</td>
                    <td>{{ partner.address }}</td>
                    <td></td>
                </tr>              
                {% endfor %}
                  
            </tbody>
    </table>
    
    <div class="page">
        {% if partners.has_previous %}
        <a href="?page=1" class="pp">첫 페이지</a>
        <a href="?page={{partners.previous_page_number}}" class="pp">이전 페이지</a>
        {% endif %}
        
        <a href="#" class="num">{{ partners.number }}/{{ partners.paginator.num_pages }}</a>

        {% if partners.has_next %}
        <a href="?page={{partners.next_page_number}}" class="pp">다음 페이지</a>
        <a href="?page={{partners.paginator.num_pages}}" class="pp">마지막 페이지</a>
        {% endif %}
    </div>

    </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    {% endblock %}
</body>

</html>