{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>
    

</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    
      <div id="wrapper">
        <div class="topbar" style="position: absolute; top:0;">
            <!-- 왼쪽 메뉴 -->
            <div class="left side-menu">
                <div class="sidebar-inner">
                    <div id="sidebar-menu">
                        <ul>
                            <li class="has_sub"><a href="javascript:void(0);" class="waves-effect">
                                <i class="fas fa-bars"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 왼쪽 서브 메뉴 -->
            <div class="left_sub_menu">
                <div class="sub_menu">
                    <ul class="big_menu">
                        <li>단과대학별 제휴업체<i class="arrow fas fa-angle-right"></i></li>
                        <ul class="small_menu">
                            <li><a href="{% url 'humanity' %}">인문대학</a></li>
                            <li><a href="page2.html">사회과학대학</a></li>
                            <li><a href="page2.html">자연과학대학</a></li>
                            <li><a href="{% url 'business' %}">경영대학</a></li>
                            <li><a href="page2.html">공과대학</a></li>
                            <li><a href="page2.html">전자정보대학</a></li>
                            <li><a href="page2.html">농업생명환경대학</a></li>
                            <li><a href="page2.html">사범대학</a></li>
                            <li><a href="page2.html">생활과학대학</a></li>
                            <li><a href="page2.html">수의과대학</a></li>
                            <li><a href="page2.html">약학대학</a></li>
                            <li><a href="page2.html">의과대학</a></li>
                            <li><a href="page2.html">융합학과군</a></li>

                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li>총학생회 제휴업체<i class="arrow fas fa-angle-right"></i></li>
                    </ul>
                </div>
            </div>
          
        </div>
    
    <!-- 지도 영역-->
    <!-- 카카오맵 api js key -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey="></script>
    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>
    <div id="map" style="width:60%;height:400px;"></div>
    <!-- 지도 확대 축소 버튼 -->
    <p>
        <button onclick="zoomIn()">확대</button>
        <button onclick="zoomOut()">축소</button>
        <span id="maplevel"></span>
    </p>

    <div>
        {% for partner in partners %}
        <p>{{ partner.name }}</p>
        <p>{{ partner.address }}</p>
        <p>{{ partner.content }}</p>
        {% endfor %}
    </div>


    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(36.632687, 127.458537), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


    // 지도 레벨을 표시합니다
    displayLevel();
    
    // 지도 레벨은 지도의 확대 수준을 의미합니다
    // 지도 레벨은 1부터 14레벨이 있으며 숫자가 작을수록 지도 확대 수준이 높습니다
    function zoomIn() {        
        // 현재 지도의 레벨을 얻어옵니다
        var level = map.getLevel();
        
        // 지도를 1레벨 내립니다 (지도가 확대됩니다)
        map.setLevel(level - 1);
        
        // 지도 레벨을 표시합니다
        displayLevel();
    }    

    function zoomOut() {    
        // 현재 지도의 레벨을 얻어옵니다
        var level = map.getLevel(); 
        
        // 지도를 1레벨 올립니다 (지도가 축소됩니다)
        map.setLevel(level + 1);
        
        // 지도 레벨을 표시합니다
        displayLevel(); 
    }    
    
    function displayLevel(){
        var levelEl = document.getElementById('maplevel');
        levelEl.innerHTML = '현재 지도 레벨은 ' + map.getLevel() + ' 레벨 입니다.';
    }
    // 지도 레벨 끝




    // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = [
        {
            title: '카카오', 
            latlng: new kakao.maps.LatLng(33.450705, 126.570677)
        },
        {
            title: '생태연못', 
            latlng: new kakao.maps.LatLng(33.450936, 126.569477)
        },
        {
            title: '텃밭', 
            latlng: new kakao.maps.LatLng(33.450879, 126.569940)
        },
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(33.451393, 126.570738)
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
        
    for (var i = 0; i < positions.length; i ++) {
        
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
    }
    </script>




    {% endblock %}       
</body>
</html>