{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>join membership</title>
    

</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
    <div id="wrap2">
        <form class="join_membership" method="POST">
            {% csrf_token %}
            <h2>회원가입</h2>
            <label> 아이디 : <input name="username" type="text"></label>
            <label> 비밀번호 : <input name="password1" type="password"></label>
            <label> 비밀번호 확인 : <input name="password2" type="password"></label>

        <div>
            <input type="button" value="뒤로 가기" onclick="back();">
            <input type="submit" value="회원가입">
        </div>
    </form>

    </div>

    

    <script src="{% static 'join.js' %}"></script>

    <script>

            function login() {
            var id = document.querySelector('#id');
            var pw = document.querySelector('#pw');

            if(id.value == "" || pw.value == "") {
                alert("로그인을 할 수 없습니다.")
            }
            else {
                location.href = 'partermap.html';
            }
        }

        function back() {
            history.go(-1);
        }

        function create_id() {
        var id = document.querySelector('#id');
        var pw = document.querySelector('#pw');
        var r_pw = document.querySelector('#r_pw');

        if(id.value == "" || pw.value == "" || r_pw.valye == "") {
            alert("회원가입을 할 수 없습니다.")
        }
        else {
            if(pw.value !== r_pw.value) {
                alert("비밀번호를 확인해 주세요.")
            }
            else {
                location.href = 'partermap.html';
            }
        }
        }

    </script>
    {% endblock %}
</body>
</html>