{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- {% block static %} {% endblock %} -->

</head>
<body>
    <header>
        <a href="{% url 'home' %}">PARTNER MAP</a>
        <nav>
            <ul class="menu">
                    <a class="banner_1" href="{% url 'intro' %}">제휴업체 소개</a>
                    <a class="banner_2" href="{% url 'board' %}">친구찾기</a>
                    {% if user.is_authenticated %}
                    <a class="banner_3" href="{% url 'logout' %}">로그아웃</a>
                    {% else %}
                    <a class="banner_3" href="{% url 'login' %}">로그인</a>
                    {% endif %}
            </ul>
        </nav>
    </header>

      {% block content %}

      {% endblock %}

</body>
</html>