{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<body lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friend board</title>
    <link rel="stylesheet" href="{% static 'css/board.css' %}">


</head>
<body>
    {% block content %}
      <div class="mainboard">
        <div class="title-box">
          <p class="main-title">친구 찾기</p>
          <p class="sub-title">공부, 운동, 취미 생활 같이 할 동네 파트너 찾기!</p>
        </div>

          <table class="board_wrap">
            <thead class="board_list">
                <tr align="center">
                    <th width="300">제목</th>
                    <th width="120">작성자</th>
                    <th width="120">작성일</th>
                    <th width="70">조회수</th>
                    <th width="70">좋아요</th>
                </tr>
            </thead>
            
            <tbody class="board_r">
                <tr align="center">
                    <td class="bt">
                        <a href="a">홍쌤 토익 9월반 구해요!</a>
                    </td>
                    <td>이령아</td>
                    <td>22.08.24</td>
                    <td>143</td>
                    <td>3</td>
                </tr>
                <tr align="center">
                    <td class="bt">
                        <a href="a">한국 외국어학원 같이 등록하실 분</a>
                    </td>
                    <td>심규리</td>
                    <td>22.08.25</td>
                    <td>73</td>
                    <td>1</td>
                </tr>
                <tr align="center">
                    <td class="bt">
                        <a href="a">코딩 스터디 같이 하실 분</a>
                    </td>
                    <td>홍현경</td>
                    <td>22.08.27</td>
                    <td>423</td>
                    <td>13</td>
                </tr>
                <tr align="center">
                    <td class="bt">
                        <a href="a">동네 조기 축구 같이 하실 분</a>
                    </td>
                    <td>구자현</td>
                    <td>22.08.27</td>
                    <td>384</td>
                    <td>20</td>
                </tr>
                <tr align="center">
                    <td class="bt">
                        <a href="a">뜨개질 같이 하실 분 구해요</a>
                    </td>
                    <td>김민지</td>
                    <td>22.08.30</td>
                    <td>233</td>
                    <td>4</td>
                </tr>
            </tbody>
    </table>
    
    <div class="page">
        <a href="#" class="pp">첫 페이지</a>
        <a href="#" class="pp">이전 페이지</a>
        <a href="#" class="num on">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="pp">다음 페이지</a>
        <a href="#" class="pp">마지막 페이지</a>
    </div>

    {% if user.is_authenticated %}
    <a type="button" class="btn" href="{% url 'write' %}" >글쓰기</a>
    {% endif %}
    </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>