<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
    <!-- 카카오맵 api js key -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY"></script>
    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>
</head>
<body>
	<div id="map" style="width:100%;height:400px;"></div>
    <!-- 지도 확대 축소 버튼 -->
    <p>
        <button onclick="zoomIn()">확대</button>
        <button onclick="zoomOut()">축소</button>
        <span id="maplevel"></span>
    </p>

    <div>
        {% for partner in partners %}
        <p>{{ partner.address }}</p>
        <p>{{ partner.content }}</p>
        {% endfor %}
    </div>


    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(36.632687, 127.458537), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


    // 지도 레벨을 표시합니다
    displayLevel();
    
    // 지도 레벨은 지도의 확대 수준을 의미합니다
    // 지도 레벨은 1부터 14레벨이 있으며 숫자가 작을수록 지도 확대 수준이 높습니다
    function zoomIn() {        
        // 현재 지도의 레벨을 얻어옵니다
        var level = map.getLevel();
        
        // 지도를 1레벨 내립니다 (지도가 확대됩니다)
        map.setLevel(level - 1);
        
        // 지도 레벨을 표시합니다
        displayLevel();
    }    

    function zoomOut() {    
        // 현재 지도의 레벨을 얻어옵니다
        var level = map.getLevel(); 
        
        // 지도를 1레벨 올립니다 (지도가 축소됩니다)
        map.setLevel(level + 1);
        
        // 지도 레벨을 표시합니다
        displayLevel(); 
    }    
    
    function displayLevel(){
        var levelEl = document.getElementById('maplevel');
        levelEl.innerHTML = '현재 지도 레벨은 ' + map.getLevel() + ' 레벨 입니다.';
    }
    // 지도 레벨 끝




    // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = [
        {
            title: '카카오', 
            latlng: new kakao.maps.LatLng(33.450705, 126.570677)
        },
        {
            title: '생태연못', 
            latlng: new kakao.maps.LatLng(33.450936, 126.569477)
        },
        {
            title: '텃밭', 
            latlng: new kakao.maps.LatLng(33.450879, 126.569940)
        },
        {
            title: '근린공원',
            latlng: new kakao.maps.LatLng(33.451393, 126.570738)
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
        
    for (var i = 0; i < positions.length; i ++) {
        
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
    }
    </script>
</body>
</html>